[
	{idp, [
	]},
	{lager, [
		{error_logger_redirect, false}
	]},
	{exometer, [
		{predefined, [
			%% http
			{[idp,pool,http], {
				function, erlang, length, [{'$call', ranch, procs, [httpd, '$dp']}],
				value, [acceptors, connections]
			}, []},
			{[idp,request,http,duration], histogram, []},
			{[idp,request,http,count], spiral, [{time_span, 60000}]},
			%% riak kv
			{[idp,pool,kv_protobuf], {
				function, poolboy, status, [kv_protobuf],
				match, {'_',idle,'_',busy}
			}, []},
			%% erlang vm
			{[idp,memory], {
				function, erlang, memory, [],
				proplist, [total, processes, processes_used, system, atom, atom_used, binary, ets]
			}, []},
			{[idp,io], {
				function, erlang, statistics, [io],
				match, {{'_',in},{'_',out}}
			}, []},
			{[idp,system_info],
				{function, erlang, system_info, ['$dp'],
				value, [port_count,port_limit,process_count,process_limit,thread_pool_size]
			}, []}
		]},
		{report, [
			{subscribers, [
				%% http
				{exometer_report_statsd, [idp,pool,http], acceptors, 10000, true},
				{exometer_report_statsd, [idp,pool,http], connections, 10000, true},
				{exometer_report_statsd, [idp,request,http,duration], max, 10000, true},
				{exometer_report_statsd, [idp,request,http,duration], min, 10000, true},
				{exometer_report_statsd, [idp,request,http,duration], mean, 10000, true},
				{exometer_report_statsd, [idp,request,http,duration], median, 60000, true},
				{exometer_report_statsd, [idp,request,http,duration], 75, 60000, true},
				{exometer_report_statsd, [idp,request,http,duration], 90, 60000, true},
				{exometer_report_statsd, [idp,request,http,duration], n, 60000, true},
				{exometer_report_statsd, [idp,request,http,count], one, 60000, true},
				%% riak kv
				{exometer_report_statsd, [idp,pool,kv_protobuf], idle, 10000, true},
				{exometer_report_statsd, [idp,pool,kv_protobuf], busy, 10000, true},
				%% erlang vm
				{exometer_report_statsd, [idp,memory], total, 10000, true},
				{exometer_report_statsd, [idp,memory], processes, 10000, true},
				{exometer_report_statsd, [idp,memory], processes_used, 10000, true},
				{exometer_report_statsd, [idp,memory], system, 10000, true},
				{exometer_report_statsd, [idp,memory], atom, 10000, true},
				{exometer_report_statsd, [idp,memory], atom_used, 10000, true},
				{exometer_report_statsd, [idp,memory], binary, 10000, true},
				{exometer_report_statsd, [idp,memory], ets, 10000, true},
				{exometer_report_statsd, [idp,io], in, 10000, true},
				{exometer_report_statsd, [idp,io], out, 10000, true},
				{exometer_report_statsd, [idp,system_info], port_count, 10000, true},
				{exometer_report_statsd, [idp,system_info], port_limit, 60000, true},
				{exometer_report_statsd, [idp,system_info], process_count, 10000, true},
				{exometer_report_statsd, [idp,system_info], process_limit, 60000, true},
				{exometer_report_statsd, [idp,system_info], thread_pool_size, 10000, true}
			]},
			{reporters, [
				{exometer_report_statsd, [
					{hostname, "localhost"},
					{port, 8125}
				]}
			]}
		]}
	]}
].

